$inblock: inline-block;
.txt {
	color:white;
	text-align:center;
}
body {
	background-color:blue;
}
.foto{
	width:55px;
	height:70px;
	display:$inblock;
}
h1 {
	margin:0px 50px;
	color:red;
	display:$inblock;
}
h3 {
	@extend .txt;
}
p {
	@extend .txt;
}
.menu{
	background: purple;
	margin:10px 0px;
	width: 100%;
	float: left;
	height: 80px;
	li {
		margin:0px;
		padding:0px;
		list-style:none;
		ul {
			display:$inblock;
			line-height:50px;
			a{
				text-decoration:none;
				color:#fff;
				padding-left:10px;
				padding-right:10px;
				display:block;
				&:hover{
					background:green;
				}
			}
		}
	}
}
.transbox {
	width:70%;
	height:400px;
    float:right;
	background-color:black;
	opacity:0.6;
	display:$inblock;
}
.transbox2 {
	width:30%;
	height:300px;
	background-color:green;
	float:left;
	display:$inblock;
	li {
		margin:40px;
		padding:0px;
		list-style:none;
			a{
			text-decoration:none;
			color:black;
				&:hover{
					background:yellow;
				}
			}
	}
}
.footer {
	width:99%;
	height:50px;
	line-height:50px;
	bottom:0px;
	position:absolute;
	background:whitesmoke;
	@extend .txt;
	color:red;
	opacity:0.7;
}